//text variables

$primaryColor:#1bbca3;
$primaryTextColor:#444444;
$seconderyTextColor:#ffffff;
$seconderyColor:#384f4b;

//ratio variables

$btnBorderRadius: 5px;
$cardBorderRadius: 0.5rem;